%h2
  Categorias de histórias 
  %table.categoriesList
    %thead
      %tr
        %td
    %tbody
      - Category.find(:all).each do |category|
        %tr
          %td.t= link_to category.addcategory, histories_category_path(category)
