#background
  %h2 Histórias com moderação pendente
  - if notice
    .modered= notice
  %table.listing
    %thead
      %tr
        %td
          História
        %td
          Opções  
    %tbody      
      - History.where('moderate = 0').each do |ph|
        %tr
          %td
            = link_to ph.title, ph, class:"colored"
          %td.t
            = button_to "Moderar", "/histories/#{ph.id}", method: :get, class:'blueButton'