%h2
  Busca de histórias 
  %table.categoriesList
    %thead
      %tr
        %td
    %tbody
      - @histories.each do |h|
        %tr
          %td.t= link_to h.title, :action => 'show', :id => h.id
