= form_for [:admin, @category] do |f|
  - if @category.errors.any?
    #error_explanation
      %ul
        - @category.errors.full_messages.each do |msg|
          %li= msg
  .label Nome da categoria*
  = f.text_field :addcategory
  .actions
    = f.submit class: 'submit', value: 'Aceitar'