%h2 Acessar conta
.notice= notice
.centralize
  = form_tag "/entrar" do
    %p
      %input{:id => 'email', :name => "email", :type => "text", :placeholder => 'Email'}/
    %p
      %input{:id => 'pass', :name => "password", :type => "password", :placeholder => 'Senha'}/
    %p
      %input{:type => "submit", :value => "Entrar", class: 'submit'}/

= link_to "Ainda não tem uma conta? Clique aqui e cadastre-se!", "/users/new"
