.categoryList
  margin-left: 200px

.end
  clear: both   

.highlights
  float: left  
  

#advertising_horizontal
  background: center no-repeat
  height: 130px
  margin-bottom: 20px
  margin-top: 20px  

.unpublished, .refusedHistory
  margin-bottom: 20px
  text-align: center

.history
  display: none

.comic
  display: none 

.remove
  display: none 


     
